<h1>Listing bets for <%= @user.name %></h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Score team a</th>
      <th>Score team b</th>
      <th>When</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.bet.each do |bet| %>
      <tr>
        <td><%= link_to bet.match_id, stage_group_match_path(bet.match.group.stage_id, bet.match.group_id, bet.match_id) %></td>
        <td><%= bet.result.score_team_a %></td>
        <td><%= bet.result.score_team_b %></td>
        <td><%= bet.updated_at %></td>
        <td><%= link_to 'Show', user_bet_path(bet.user_id, bet.id) %></td>
        <td><%= link_to 'Edit', edit_user_bet_path(bet.user_id, bet.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_user_bet_path(@user) %> |
<%= link_to 'Back', user_path(@user) %>