<h1>Listing bets for <%= @player.name %></h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Score team a</th>
      <th>Score team b</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.match_id %></td>
        <td><%= bet.result.score_team_a %></td>
        <td><%= bet.result.score_team_b %></td>
        <td><%= bet.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_player_bet_path(@player) %> |
<%= link_to 'Back', player_path(@player) %>
