<h1>New bet for player #<%= @player.name %></h1>

<%= form_for(@bet, :url => player_bets_path(params[:player_id])) do |f| %>

<% if @bet.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this result from being saved:</h2>

    <ul>
    <% @bet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  Match : <%= collection_select(:bet, :match_id, Match.order(group_id: :asc), :id, :to_string) %> 
</div>

<%= f.fields_for :result do |result_form| %>
<div class="field">
  Score team A <%= result_form.number_field :score_team_a %>
</div>

<div class="field">
  Score team B <%= result_form.number_field :score_team_b %>
</div>
<% end %>


<br/>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Back', player_bets_path(@player.id) %>
