<h1>Bet for player <strong>XXXXXX</strong></h1>

<div class="field">match : <%= @bet.match.to_string %></div>
<div class="field">score team a : <%= @bet.result.score_team_a %></div>
<div class="field">score team b : <%= @bet.result.score_team_b %></div>
<div class="field">when : <%= @bet.updated_at %></div>

<br/>

<%= link_to 'Back', player_bets_path(params[:player_id]) %>
