<h1>Homepage</h1>

<%= link_to 'Stages', stages_path %> <br/>
<%= link_to 'Teams', teams_path %>

<hr width="60%"/>

<%= link_to 'Crews', crews_path %> <br/>
<%= link_to 'Users', users_path %> </br>
<%= link_to 'Login', authentications_new_path %> 
