<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Emailaddress:</strong>
  <%= @player.emailAddress %>
</p>

<p>
  <strong>Crew:</strong>
  <% if @player.crew %>
  <%= link_to @player.crew.name, @player.crew %>
  <% end %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Bets', player_bets_path(@player) %> |
<%= link_to 'Back', players_path %>
