<h1>Result for match <%= @match.id %></h1>

<p>date : <%= @match.date %></p>
<p>group : <%= @match.group.name %></p>

<p><%= @match.team_a.name %> : <%= @match.result.score_team_a %> vs <%= @match.team_b.name %> : <%= @match.result.score_team_b %></p>

<% if @match.result.played %>
<p> joué </p>
<% else %>
<p> pas encore joué </p>
<% end %>


<%= link_to 'Back', stage_group_match_path(params[:stage_id], params[:group_id], params[:id]) %>
