<h1>Match <%= @match.id %></h1>

<p>date : <%= @match.date %></p>
<p>stage : <%= @match.group.stage.name %></p>
<p>group : <%= @match.group.name %></p>

<table>
	<tr>
		<td><%= @match.team_a.name %></td>
		<td>vs</td>
		<td><%= @match.team_b.name %></td>
	</tr>
	<% if @match.result.nil? == false && @match.result.played == true %>
	<tr>
		<td><%= @match.result.score_team_a %></td>
		<td></td>
		<td><%= @match.result.score_team_b %></td>
	</tr>
	<% end %>
</table>

<br/>

<%= link_to 'Back', root_path %>
